
.stars a{
    opacity: 50%;
    cursor: pointer;
}
.stars:hover a{
    opacity: 100%;
}
.stars  a:hover{
    opacity: 100%;
}
.stars  a:hover ~ a{
    opacity: 50%;
}
.stars a.active{
    opacity: 100%;
}
span{
    color: red;
}
textarea {
   resize: none;
}